body
{
    background-image: linear-gradient(to right, purple, rgb(100, 100, 255));
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24pt;
    color: black;
    text-align: center;
  }
  