body
{
    background-image: linear-gradient(to right, purple, rgb(100, 100, 255));
}

.welcomingh
{
    font-family: "Cascadia Code Extra Light";
    font-size: 24pt;
    color: black;
    text-align: center;
}

@font-face {
    font-family: "Chinese Rocks RG";
    src: url(fonts/chinese-rocks-rg.otf);
}

@font-face {
    font-family: "Cascadia Code Extra Light";
    src: url(fonts/CascadiaCode-ExtraLight.otf);
}

a
{
    font-family: "Chinese Rocks RG", sans-serif;
    font-size: 172%;
    color: burlywood;
    text-decoration: none;
}